:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: 'Para';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Heading';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--stone-100);
}

html {
  font-family: 'Para', sans-serif;
}


.mainContainer {
    position: relative;
    padding: 25px;
    margin-top: 50px;
    background-color: var(--white);
    border-radius: 15px;
    width: 45vw;
    left: 50%;
    transform: translateX(-50%);
}

.omeletteImage {
    border-radius: 10px;
    margin-bottom: 15px;
    height: 250px;
    width: 100%;
}

.headingText {
    margin-bottom: 10px;
    font-family: 'Heading', serif;
    color: var(--stone-900);
}

.headingDescText {
    font-size: 16px;
    padding-bottom: 15px;
    color: var(--stone-600)
}

.prep {
    background-color: var(--rose-50);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.prepTime {
    color: var(--rose-800);
    font-size: 18px;

    padding-bottom: 10px;
}

.totalLi::marker, .prepLi::marker, .cookingLi::marker {
    color: var(--rose-800);
}

.totalLi, .prepLi, .cookingLi {
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    color: var(--stone-600);
}

.ingredientsHeading {
    padding-bottom: 20px;
    font-family: 'Heading', serif;
    color: var(--brown-800)
}

.eggsLi, .saltLi, .pepperLi, .butterLi, .optionalLi {
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    color: var(--stone-600);
}

.eggsLi::marker, .saltLi::marker, .pepperLi::marker, .butterLi::marker, .optionalLi::marker {
    color: var(--brown-800);
}

.ingredientsListItems {
    padding-bottom: 15px;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--stone-150);
}